@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.ant-btn-primary {
  background-color: #0958d9;
}

/* Scale the checkbox */
.custom-checkbox .ant-checkbox-inner {
  width: 20px;
  height: 20px;
  border-radius: 4px;
}

/* Adjust the checkmark size/position */
.custom-checkbox .ant-checkbox-inner::after {
  inset-inline-start: 30%; /* Horizontal position */
  top: 45%; /* Vertical position */
  width: 6px; /* Checkmark width */
  height: 12px; /* Checkmark height */
  border-width: 3px; /* Thickness of the checkmark */
}

/* Optional: Adjust spacing between checkbox and label */
.custom-checkbox .ant-checkbox + span {
  padding-inline-start: 8px;
  font-size: 16px; /* Label font size */
}

@layer components {

  .login-btn {
    @apply w-full flex bg-primary-500 text-lg rounded-md text-center justify-center py-2 text-white-100 font-bold hover:bg-primary-600 ease-in-out duration-300 focus:outline-none hover:shadow-md hover:shadow-primary-500/20;
  }
  .modal-btn-primary {
    @apply mt-4 select-none rounded-lg bg-success-500 py-2 px-6 text-center align-middle text-xs font-semibold uppercase text-white-100 shadow-md shadow-success-500/20 transition-all hover:shadow-lg hover:shadow-success-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none;
  }
  .modal-btn-danger {
    @apply mt-4 select-none rounded-lg bg-danger-500 py-2 px-4 text-center align-middle text-xs font-semibold uppercase text-white-100 shadow-md shadow-danger-500/20 transition-all hover:shadow-lg hover:shadow-danger-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none;
  }
  .filter-modal-btn-primary {
    @apply  mb-2 flex gap-1 select-none rounded-lg bg-success-500 py-2 px-6 text-center align-middle text-base font-bold uppercase text-white-100 shadow-md shadow-success-500/20 transition-all hover:shadow-lg hover:shadow-success-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none;
  }
  .filter-modal-btn-danger {
    @apply  mb-2 flex gap-1 select-none rounded-lg bg-danger-500 py-2 px-4 text-center align-middle text-base font-bold uppercase text-white-100 shadow-md shadow-danger-500/20 transition-all hover:shadow-lg hover:shadow-danger-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none;
  }
  .filter-modal-btn-orange {
    @apply  mb-2 flex gap-1 select-none rounded-lg bg-secondary-500 py-2 px-4 text-center align-middle text-base font-bold uppercase text-white-100 shadow-md shadow-secondary-500/20 transition-all hover:shadow-lg hover:shadow-secondary-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none;
  }
  .toolbar-primary-icon-btn {
    @apply gap-2 flex select-none rounded-lg bg-success-500 py-2.5 px-4 justify-center text-center items-center align-middle text-base font-semibold uppercase text-white-100 shadow-md shadow-success-500/20 transition-all hover:shadow-lg hover:shadow-success-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none;
  }
  .toolbar-secondary-icon-btn {
    @apply gap-2 flex select-none rounded-lg bg-secondary-500 px-4 py-2.5 justify-center text-center items-center align-middle text-base font-semibold uppercase text-white-100 shadow-md shadow-secondary-500/20 transition-all hover:shadow-lg hover:shadow-secondary-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none;
  }
  .toolbar-danger-icon-btn {
    @apply gap-2 flex select-none rounded-lg bg-danger-500 py-2.5 px-4 justify-center text-center items-center align-middle text-base font-semibold uppercase text-white-100 shadow-md shadow-danger-500/20 transition-all hover:shadow-lg hover:shadow-danger-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none;
  }
  .toolbar-auxiliary-icon {
    @apply cursor-pointer hover:bg-white-600 ease-in-out duration-300 flex justify-center items-center w-[2.5rem] h-[2.5rem] text-xl rounded-full;
  }
  .table-see-action-btn {
    @apply flex justify-center items-center p-2 rounded-md bg-secondary-600 text-white-100 cursor-pointer hover:bg-secondary-800 ease-in-out duration-300;
  }
  .table-delete-action-btn {
    @apply flex justify-center items-center p-2 rounded-md bg-danger-600 text-white-100 cursor-pointer hover:bg-danger-800 ease-in-out duration-300;
  }
  .table-see-offer-action-btn {
    @apply flex justify-center items-center p-2 rounded-md bg-primary-500 text-white-100 cursor-pointer hover:bg-primary-700 ease-in-out duration-300;
  }
  .table-stock-movement-action-btn {
    @apply flex justify-center items-center p-2 rounded-md bg-blue-500 text-white-100 cursor-pointer hover:bg-blue-700 ease-in-out duration-300;
  }
  .table-check-action-btn {
    @apply flex justify-center items-center p-2 rounded-md bg-success-500 text-white-100 cursor-pointer hover:bg-success-700 ease-in-out duration-300;
  }
  .add-item-form-btn {
    @apply gap-2 flex select-none rounded-lg bg-white-500 py-2 px-4 justify-center text-center items-center align-middle text-sm uppercase border border-dashed border-white-900 text-white-900 transition-all hover:text-blue-400 hover:border-blue-400 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none;
  }
}
